/*NAVIGATION------NAVIGATION------NAVIGATION------NAVIGATION------NAVIGATION------NAVIGATION------NAVIGATION------*/
/*text color*/
.title {
	/*color: #DCEEFF;*/
}
/*background color*/
/*.header-container {
 background: #BCAFE8;
 }*//*A196C7*/
/*border color (tetriary color)*/
/*.header-container {
 border-bottom: 20px solid #6E4778;
 }*/
/*navigation links*/
/*nav .first{
 background:#432E68;
 }
 nav .second{
 background:#432E68;
 }
 nav .third{
 background:#432E68;
 }*/

/*MAIN------MAIN------MAIN------MAIN------MAIN------MAIN------MAIN------MAIN------MAIN------MAIN------MAIN*/
/*text color*/
article h2 {
	/*color:#b3d4fc;*//*B06E97 96585C 42335E A02BDA*/
	/*font-weight: normal;*/
	font-size: 1em;
	font-family: freight-sans-pro, 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
article {
	/*color:#DCEEFF;*/
}
/*background color*/
/*body{
 background:#f6ffcc;
 }*/

/*background image*/
/*.bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }*/

.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
  z-index: -1;
}

article section{
	background-color: rgba(0, 0, 0, 0.6);
	
	/*border-top: 2px solid #cccccc;*/
	/*border: 1px solid white;*/
	/*padding: 3%;*/
}
	div.floating-menu a {
		/*background-color: rgba(0,0,0, 0.3);*/
		color:#eeeeee;
		border-bottom: 2px solid #cccccc;
		font-weight:bold;
		
		transition: border-bottom color 500ms;
		-webkit-transition: border color 500ms;
	}
	
	div.floating-menu a:hover{
		border-bottom: 2px solid #ffffff;
		color:white;
		/*background-color: rgba(0,0,0, 1);*/
	}
	
	
	
	
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}




nav a, body {
	color: white;
}

body {
	background: #cccccc;
	/*background-image: url('./../img/background.png');
	position:absolute;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
article a, article a:hover, article a:visited {
	color: white;
	/*color: #DCEEFF;*//*#FFC64C;*/
}
.body-home {
	/*background-image:url('./../img/background.svg');
	 background-repeat:repeat;*/
	/*background:#20192E;*//*tu tu tu tu tu tu tu tu tu tu tu tu tu tu tu tu tu tu*/
}/*BCAFE8 554F68 6C5E87*/
.body-portfolio {
	background: #e9ffff;
}
.body-work {
	background: #fff4f3;
}
/*ASIDE---------ASIDE---------ASIDE---------ASIDE---------ASIDE---------ASIDE---------ASIDE---------ASIDE---------*/
/*text color*/
.main aside {
	color: black;
}
/*background color*/
/*.main aside {
 background: #855691;
 }*/
/*border color (tetriary color)*/
/*.main aside {
 border-top: 20px solid #6E4778;
 }*/

/*FOOTER------FOOTER------FOOTER------FOOTER------FOOTER------FOOTER------FOOTER------FOOTER------FOOTER------FOOTER*/
/*text color*/
.footer-container footer {
	color: black;
}
/*background color*/
/*.footer-container {
 background: #855691;
 }*/
/*border color (tetriary color)*/
/*.footer-container {
 border-top: 20px solid #6E4778;
 }*/
/*footer email link*/
.footer-container a:link {
	color: black;
}/* unvisited link */
.footer-container a:visited {
	color: #dddddd;
}/* visited link */
.footer-container a:hover {
	color: #dddddd;
}/* mouse over link */
.footer-container a:active {
	color: #bbbbbb;
}/* selected link */

/*OTHER--------OTHER--------OTHER--------OTHER--------OTHER--------OTHER--------OTHER--------OTHER--------OTHER--------*/
hr {
	border-top: 1px solid #DCEEFF;
}
.goog-te-gadget-simple {
	background-color: #42335E !important;
}
::selection {
	background: #b3d4fc;
}
::-moz-selection {
	background: #b3d4fc;
}
