/*MAIN------MAIN------MAIN------MAIN------MAIN------MAIN------MAIN------MAIN------MAIN------MAIN------MAIN*/
article h2 {
	font-size: 1em;
	font-family: freight-sans-pro, 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.bg {
  /* Set rules to fill background */
  min-width: 1290px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
  z-index: -1;
}

	
@media screen and (max-width: 1290px) { /* Specific to this particular image */
  img.bg {
    /*left: 50%;
    margin-left: -645px; */  /* 50% */
  }
}

/*small variant*/
@media screen and (max-width: 1010px) { /* Specific to this particular image */
  img.bg {
    left:auto;
    right:0;
  }
  
  .main-container{
	background-color:black;
	}
	.footer-container{
		/*background-color:#27273D;*/
		color:white;
	}
}

article section{
	/*background-color: rgba(0,0,0, 1.0);*/
	/*color:white;*/
	font-size: 20px;
	
	line-height: 30px;
}

body {
	color: #ffffff;
}
.title
{
	color:white;
}
a:active
{
outline: none;
}

a:focus
{
-moz-outline-style: none;
}
a::-moz-focus-inner{
  border: 0;
  border-style: none;
  border-width: 0px;
}


body {
	background: black;
}
article a, article a:hover, article a:visited {
	color: white;
}


/*ASIDE---------ASIDE---------ASIDE---------ASIDE---------ASIDE---------ASIDE---------ASIDE---------ASIDE---------*/
/*text color*/
.main aside {
	color: black;
}

/*footer email link*/
.footer-container a:link {
	color: #555555;
}/* unvisited link */
.footer-container a:visited {
	color: #555555;
}/* visited link */
.footer-container a:hover {
	color: #dddddd;
}/* mouse over link */
.footer-container a:active {
	color: #bbbbbb;
}/* selected link */

/*OTHER--------OTHER--------OTHER--------OTHER--------OTHER--------OTHER--------OTHER--------OTHER--------OTHER--------*/
hr {
	border-top: 1px solid #DCEEFF;
}
footer hr{
	border-top: 1px solid #555555;
}
.goog-te-gadget-simple {
	background-color: #42335E !important;
}
::selection {
	background: #b3d4fc;
}
::-moz-selection {
	background: #b3d4fc;
}
