/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    min-width:300px;
}

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

.aboutImage
{
	float:left;
	margin-top:5px;
	margin-right:5px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

/*body {
    font: 16px/26px ff-tisa-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
    
}*/

.wrapper {
    min-width: 650px;
    width:49%;
}

/*small variant*/
@media screen and (max-width: 1010px) { 
.wrapper {
    width: 90%;
    min-width:0;
    margin: 0 5%;
}

}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
}


nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0 0;
}

.main article h1 {
    font-size: 52px;
    font-weight:normal;
    line-height: 50px;
    text-align: center;
}

.main aside {
    padding: 0px 5% 10px;
}



.footer-container footer {
    padding: 20px;
    color:#555555;
    text-align:center;
}
.footer-container
{
	width: 100%;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container{
	width: 100%;
	height:500px;
	margin: 0 auto;
	
	/*display: table;
    margin: 0 auto;*//*for ie8*/
}
small{
	display:none;
}
.section-container
{
	/*width:350px;*/
	margin: 0 auto;
}

.title img{
	padding-right: 3em;
}
.title {
	font-size:56px;
	line-height: 85px;
}

#simpleLink
{
	margin-top:230px;/*46 for option * 5*/
	color:#cccccc;
}

.main article
{
	/*margin-top:400px;*/
	/*margin-bottom:100px;/*for google translator snippet*/*/
}


/*scroll menu for mobile*/
  	div.floating-menu {
		padding-top:0px;
		width: 100%;
		position: fixed;
		top:0px;
		background-color: black;	
		z-index: 100;
	}
	div.floating-menu li {
		display: block;
		text-decoration: none;

		width: 100%;
		text-align: center;
		transition: background-color 300ms;
		-webkit-transition: background-color 300ms;
	}
		div.floating-menu li:hover
	{
		background-color:#252525;
	}
	
	div.floating-menu ul{
		padding: 0;
		margin:0;
	}
	
	.floating-menu a{
		font-weight:bold;
		text-decoration:none;
		display:block;/*to cover all li surface*/
		padding:10px;
		color:white;
		
		transition: color 300ms;
		-webkit-transition: color 300ms;
	}
	
	.floating-menu a:hover{
		color:white;
	}
	/*scroll menu :hover animations*/
	div.floating-menu li {
		border-bottom: 2px solid #cccccc;
		
		/*transition: border-bottom 500ms;
		-webkit-transition: border-bottom 500ms;*/
	}
	div.floating-menu a{
		
		/*transition: border-bottom 500ms;
		-webkit-transition: border-bottom 500ms;*/
	}
	
	/*div.floating-menu li:hover{
		border-bottom: 2px solid #ffffff;
	}*/

	

	


article section
{
	width: 90%;
	padding: 3%;
	margin: 0 2%;
	margin-top:0px;
}

/*h1
{
	margin-left:2%;
	margin-right:2%;
}*/

.main-container{
	margin-top:200px;
	/*margin-bottom:200px;*/
}

header
{
	font-family: Tahoma, Geneva, sans-serif;
	/*font-weight: bold;*/

	line-height: 1.5em;
	font-size: 2.5em;
}
.title{
		text-align:center;
		}
body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

/* =========================
   Large variant media query
   =========================*/

@media screen and (min-width: 1010px) {
	.main article h1 {
			    text-align: left;
	}

  	div.floating-menu {
		position: fixed;
		/*left: 0;*/
		
		width:auto;
		padding-top:50px;
		padding-bottom:30px;
		
		min-width: 610px;
    	width:47%;
		
		/*border-bottom: 2px solid white;*/
	}

/*scroll menu*/
	div.floating-menu li {
		position:static;
		float:left;

		display: block;
		padding-right:15px;
		padding-left:15px;

		font-weight:bold;
/*background-color:rgba(0,0,0, 0.5);*/
border-bottom:none;
border-left: 1px solid #666666;

		width:auto;
		text-align:right;
		

}

		div.floating-menu li:hover
	{
		background-color:black;
	}
	
.centerList{
			margin-left:auto;
		margin-right:auto;
	}
    div.floating-menu li:first-child {
        border-left: none;
    }
	
	div.floating-menu a{
		font-size: 17px;
		color:#cccccc;
		
	}
	

	/*div.floating-menu .active {
		border-bottom: 2px solid #ffffff;
	}
	*/
	div.floating-menu  .active a {
		color:white;
	}
	
}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

	.title {
        float: left;
        /*margin-top:200px;*/
    }
    
    /*nav {
        float: right;
        width: 100%;/*38%*/
    }
    
    nav a {
        float: right;/*left*/
        /*width: 27%;*//*27%*/
        margin: 0 10px;
        padding: 25px 20px;
        margin-bottom: 0;
    }
    nav .first{
    	float:left;
    }
    


    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    */

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */


/* ============
    WIDE: Main
   ============ */

    .main article {    	
    	/*margin-left:auto;
    	margin-right:auto;*/
    	/*width: 80%;*/
    	/*margin-right:140px;*/
    	        /*float: left;
        width: 57%;*/
    }

.title {
	display:block;
	/*width:86%;*/

	/*margin-right:140px;*/
}

.header-container article{
	padding:0;
	background:none;
	margin:0;
}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}