/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px ff-tisa-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
    
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
}


nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0 0;
}

.main article h1 {
    font-size: 52px;
    font-weight:normal;
    line-height: 50px;
}

.main aside {
    padding: 0px 5% 10px;
}



.footer-container footer {
    padding: 20px 0;
}
.footer-container
{
	position:absolute;
	bottom:0;
	width: 100%;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container{
	width: 100%;
	height:500px;
	margin: 0 auto;
	
	/*display: table;
    margin: 0 auto;*//*for ie8*/
}
small{
	display:none;
}
.section-container
{
	width:350px;
	margin: 0 auto;
}

.title img{
	padding-right: 3em;
}
.title {
	font-size:1.3em;
}



.main article
{
	margin-top:400px;
	margin-bottom:100px;/*for google translator snippet*/
}
/*.main-container
{
	height: 50%;
	width: 50%;
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}*/


  	div.floating-menu {
		padding-top:0px;
		width: 100%;
		/*height: 100px;*/
		position: static;
				
		z-index: 100;
		
}

	div.floating-menu a {
		display: block;
		text-decoration: none;
		padding:0px;
		
		float:left;
		width: 100%;
		padding:10px;
		text-align: center;
		border-bottom: 1px solid #000000;
		

	}
	


article section
{
	width: 90%;
	padding: 3%;
	margin: 20% 2%;
	margin-top:0px;
}

h1
{
	margin-left:2%;
	margin-right:2%;
}

.header-container
{
	margin-top:500px
}
header
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	/*font-weight: bold;*/
	text-align:center;
	line-height: 1.5em;
	font-size: 2.5em;
}
body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

	.title {
        float: left;
    }
    
    nav {
        float: right;
        width: 100%;/*38%*/
    }
    
    nav a {
        float: right;/*left*/
        /*width: 27%;*//*27%*/
        margin: 0 10px;
        padding: 25px 20px;
        margin-bottom: 0;
    }
    nav .first{
    	float:left;
    }
    




    /*sum to 81%*/
    /*nav .first
    {
    	width:35%;
    }
    nav .second,
    nav .third{
    	width:23%
    }*/

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */
/*turn off blocks shadows*/
    /*.header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }*/

/* ============
    WIDE: Main
   ============ */
  	div.floating-menu {
		padding-top:0px;
		
		position: fixed;
		right: 0;
		
		width: 160px;
		z-index: 100;
		
		

	}
	


	div.floating-menu a {
		position:relative;
		display: block;
		text-decoration: none;
		padding:15px;
		padding-top:35px;
		/*margin-bottom:20px;*/
		width:110px;
		border-bottom: none;
		text-align:right;
		
		transition: right 200ms;
		-webkit-transition: right 200ms;
	}
	
	div.floating-menu a:hover
	{
		right:10px;
	}

    .main article {    	
    	/*margin-left:auto;
    	margin-right:auto;*/
    	/*width: 80%;*/
    	margin-right:140px;
    	        /*float: left;
        width: 57%;*/
    }

.title {
	display:block;
	/*width:86%;*/

	margin-right:140px;
}

.header-container article{
	padding:0;
	background:none;
	margin:0;
}

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}